.sdsModal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(100,100,100,0.7);
	display: flex;
	align-items: center;
	justify-content: center;
        z-index:99;
}
.sds-modal-content {
	background:aliceblue;
	color: #000;
	font-size: 14px;
	padding: 0 .5em 1em .5em;
	max-width: 80%;
}
.sds-modal-header  h4.modal-title {
	font-weight:bold;
	font-size: 200%;
}
.sds-modal-content .modal-body a {
	text-decoration: underline;
	font-weight: bold;
	color: #666;
}
.sds-modal-content button.btn.btn-default {
	padding: 1em;
}
